  <nav class="navbar">
    <a href="#" class="logo">MyBlog</a>

     <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" id="navLinks">
      <li><a href="<%=homeUrl%>" class="<%= currentPage === 'home'? 'active' : 'non-active' %>">HOME</a></li>
      <li><a href="#" class="<%= currentPage === 'post'? 'active' : 'non-active' %>">BLOG</a></li>
      
    </ul>
  </nav>
