<div class="header">
    <div class="title">
        <h1>my blogs</h1>
    </div>
    <nav>
        <a href="<%= homeUrl %>" class="current<%= currentPage === 'index'?'-active' : '' %>">Home</a>
        <a href="#" class="current<%= currentPage === 'post'?'-active' : '' %>">Article</a>
    </nav>
  </div>
