<div class="page">
     <% if(totalPage > 1) { %>
     
        <% if(currentPage==1) { %>
         <a href="#" class="disabled">&lt;&nbsp;prev</a>
         <a href="./index<%=currentPage+1%>.html" class="abled">next&nbsp;&gt;</a>
        <% } else if(currentPage==totalPage) { %>
         <a href="./index<%=currentPage-1%>.html" class="abled">&lt;&nbsp;prev</a>
         <a href="#" class="disabled">next&nbsp;&gt;</a>
        <% } else { %>
         <a href="./index<%=currentPage-1%>.html" class="abled">&lt;&nbsp;prev</a>
         <a href="./index<%=currentPage+1%>.html" class="abled">next&nbsp;&gt;</a>
         <% } %>
     
     <% } %>
  </div>
